@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: 3px;
  }

  .scrollbar-hidden{
    scrollbar-width: 3px;
    -ms-overflow-style: 3px;
  }
}


/* THIS ARE REUSABLE STYLES FOR THE PROJECTS. I WOULD ORGANISE THEM AS BEST AS I CAN*/



/* NAVLINKS */
.navlinks{
  @apply text-primary-text text-sm font-inter
}


/* SIDELINKS */
.big-sidelink-container{
  @apply w-[215px] h-10 px-3 py-2.5 rounded-xl border border-primary-shade justify-start items-center flex text-black text-base font-bold font-lato gap-2.5
}
.small-sidelink-container{
  @apply w-[215px] h-10 px-3 py-2.5 rounded-xl border border-primary-shade justify-start items-center gap-2.5 flex text-primary-text text-base font-bold font-lato
}


/* TEXT STYLES */
/* HEADERS */
/* Base Styles */

.heading {
  @apply font-lato font-bold;
}

/* Responsive Sizes */
.h-xs {
  @apply heading text-xs sm:text-sm md:text-base lg:text-lg;
}
.h-sm {
  @apply heading text-sm sm:text-base md:text-lg lg:text-xl;
}
.h-md {
  @apply heading text-base sm:text-lg md:text-xl lg:text-2xl;
}
.h-lg {
  @apply heading text-lg sm:text-xl md:text-2xl lg:text-3xl;
}
.h-xl {
  @apply heading text-xl sm:text-2xl md:text-3xl lg:text-4xl;
}
.h-2xl {
  @apply heading text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}
.h-3xl {
  @apply heading text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
}
.h-4xl {
  @apply heading text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
}


/* BODY */

/* Base Styles */
.body-text {
  @apply font-inter font-normal leading-normal;
}

/* Responsive Sizes */
.b-1 {
  @apply body-text text-xs;
}
.b-2 {
  @apply body-text text-sm;
}
.b-3 {
  @apply body-text text-base;
}


/* ICONS */

.icon {
  @apply w-6 h-6
}


/* MAIN */
.main{
  @apply bg-gray-50 py-8 px-4 w-full mx-auto
}